/*OverviewPanel Section */
.overviewPanelContainer {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  position: relative;
}

.overviewPanel_collapseBtn {
  background: var(--secondaryColor_light);
  position: absolute;
  z-index: 999;
}

.collapseIcon {
  color: var(--onSecondary);
  font-size: 1em;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.overviewPanel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--secondaryColor_light);
}

.overviewPanel_wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

/*container*/
.overviewPanel_segements {
  display: flex;
  align-items: center;
}

@media (orientation: landscape) {
  .overviewPanelContainer {
    transition-property: width;
    width: 150px;
    height: 100%;
  }

  .overviewPanelContainer_collapsed {
    width: 0;
  }

  .overviewPanel_collapseBtn {
    width: calc(40px / 2);
    height: 40px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    top: calc(50% - (40px / 2));
    right: calc((40px / 2) * -1);
  }

  .collapseIcon_collapsed {
    transform: rotate(180deg);
  }

  .overviewPanel {
    box-shadow: 6px 0px 10px rgba(0,0,0,.2);
  }

  .overviewPanel_wrapper {
    flex-direction: column;
  }

  .overviewPanel_segements {
    flex-direction: column;
    overflow-y: scroll;
    margin: 20px 0 20px 0;
  }
}

@media (orientation: portrait) {
  .overviewPanelContainer {
    transition-property: height;
    height: 120px;
    width: 100%;
    order: 2;
  }

  .overviewPanelContainer_collapsed {
    height: 0;
  }

  .overviewPanel_collapseBtn {
    width: 40px;
    height: calc(40px / 2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    left: 20px;
    top: calc((40px / 2) * -1);
  }

  .collapseIcon {
    transform: rotate(-90deg);
  }

  .collapseIcon_collapsed {
    transform: rotate(90deg);
  }

  .overviewPanel {
    box-shadow: 0px -6px 10px rgba(0,0,0,.2);
  }

  .overviewPanel_wrapper {
    flex-direction: row;
  }

  .overviewPanel_segements {
    overflow-x: scroll;
    margin: 0 20px 0 20px;
  }
}
