/*OverviewPanel Section */
.overviewPanelContainer {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  position: relative;
}

.overviewPanel_collapseBtn {
  background: var(--secondaryColor_light);
  position: absolute;
  z-index: 999;
}

.collapseIcon {
  color: var(--onSecondary);
  font-size: 1em;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.overviewPanel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--secondaryColor_light);
}

.overviewPanel_wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}

/*container*/
.overviewPanel_segements {
  display: flex;
  align-items: center;
}

.draggedSegment {
  pointer-events: auto !important;
  cursor: grabbing;
}

.overviewPanel_divider {
  background: #5f5f5f;
}

.overviewPanel_addBtn {
  padding: 3px 8px;
  background-color: var(--onSecondary);
  border-radius: var(--roundCorner);
  box-shadow: var(--oneDp);
  text-align: center;
}

.overviewPanel_addBtnIcon {
  color: black;
  font-size: 1.2em;
}

@media (orientation: landscape) {
  .overviewPanelContainer {
    transition-property: width;
    width: 150px;
    height: 100%;
  }

  .overviewPanelContainer_collapsed {
    width: 0;
  }

  .overviewPanel_collapseBtn {
    width: calc(40px / 2);
    height: 40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    top: calc(50% - (40px / 2));
    right: calc((40px / 2) * -1);
  }

  .collapseIcon_collapsed {
    transform: rotate(180deg);
  }

  .overviewPanel {
    box-shadow: 6px 0px 10px rgba(0,0,0,.2);
  }

  .overviewPanel_wrapper {
    flex-direction: column;
  }

  .overviewPanel_segements {
    flex-direction: column;
    overflow-y: scroll;
    margin-top: 20px;
  }

  .overviewPanel_divider {
    min-height: 1px;
    width: 80px;
    margin: 15px auto;
  }

  .overviewPanel_addBtn {
    margin-bottom: 20px;
  }
}

@media (orientation: portrait) {
  .overviewPanelContainer {
    transition-property: height;
    height: 120px;
    width: 100%;
    order: 2;
  }

  .overviewPanelContainer_collapsed {
    height: 0;
  }

  .overviewPanel_collapseBtn {
    width: 40px;
    height: calc(40px / 2);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    left: calc(50% - (40px / 2));
    top: calc((40px / 2) * -1);
  }

  .collapseIcon {
    transform: rotate(-90deg);
  }

  .collapseIcon_collapsed {
    transform: rotate(90deg);
  }

  .overviewPanel {
    box-shadow: 0px -6px 10px rgba(0,0,0,.2);
  }

  .overviewPanel_wrapper {
    flex-direction: row;
  }

  .overviewPanel_segements {
    overflow-x: scroll;
  }

  .overviewPanel_divider {
    min-width: 1px;
    height: 80px;
    margin: auto 15px;
  }

  .overviewPanel_addBtn {
    margin-right: 20px;
  }
}
