.imageWrapper {
  height: 100%;
  position: relative;
}

.imageWrapper_border {
  border: 1px dotted var(--primaryColor);
}

.removeButton {
  background: rgba(0, 0, 0, 0.2);
  padding: 3px 5px;
  border-radius: var(--roundCorner);
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
}

.imageControls {
  position: absolute;
  top: 0;
  right: 0;
}

.removeButton_icon {
  color: var(--primaryColor);
}

.removeButton:active .removeButton_icon {
  color: var(--primaryColor_light);
}
