.playerMain {
  width: 70px;
  padding: 0;
  position: relative;
}

.circleShadow {
  width: inherit;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--FAB);
}

.playerMain_operator {
  position: absolute;
  font-size: 2em;
  color: var(--onPrimary);
}

.play {
  transform: translateX(2px);
}
