.playerMain {
  width: 70px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.playerMain_operator {
  position: absolute;
  font-size: 1.6em;
}

.play {
  transform: translateX(2px);
}

button:hover .playerMain_operator path {
  fill: #f01d16;
}

.playerMain svg {
  transition: width 0.2s ease-in;
  transition: height 0.2s ease-in;
}
