.segment {
  width: 100%;
  margin: auto;
  height: calc(100% - 90px);
  display: flex;
  animation: fadein 0.8s;
}

.mediaInput {
  height: 100%;
  width: 100%;
  border-right: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: flex 0.5s ease-out;
  flex: 1;
}

.mediaInput:last-child {
  border-right: none;
}

.collapsed {
  flex: 0;
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: default;
  }
}

.imageContainer {
  position: relative;
}

.removeButton {
  background: var(--onBackground_dimmer);
  padding: 3px 5px;
  border-radius: var(--roundCorner);
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
}

.removeButton path {
  fill: var(--primaryColor);
  transition: var(--transition);
}

.removeButton:hover path {
  fill: var(--primaryColor_light);
}
