.segment {
  width: 100%;
  margin: auto;
  height: calc(100% - 90px);
  position: absolute;
  top: 0;
  display: flex;
  animation: fadein 0.8s;
}

.mediaInput {
  height: 100%;
  width: 100%;
  border-right: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: flex 0.5s ease-out;
  flex: 1;
}

.mediaInput:last-child {
  border-right: none;
}

.collapsed {
  flex: 0;
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: default;
  }
}

.imageContainer {
  position: relative;
}

.removeButton {
  position: absolute;
  cursor: pointer;
  top: -23px;
  right: -27px;
}

.removeButton path {
  fill: rgba(253, 126, 20, 0.4);
  transition: fill 0.4s ease;
}

.removeButton:hover path {
  fill: rgba(253, 126, 20, 1);
}
