.segment {
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
}

.mediaInput {
  height: 100%;
  width: 100%;
  border-right: 1px solid lightgray;
  display: flex;
  align-items: center;
  transition: flex 0.5s ease-out;
  flex: 1;
}

.mediaInput:last-child {
  border-right: none;
}

.collapsed {
  flex: 0;
}

.segment img {
  max-width: 98%;
  max-height: 98%;
}
