.segment {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  animation: fadein 0.8s;
  padding: 0px;
}

.segment_playback {
  width: 100%;
  height: 100%;
}

.segment_compose {
  width: 750px;
  height: 450px;
  border: 1px solid lightgray;
  border-radius: var(--roundCorner);
}

.segmentDivider {
  width: 1px;
  height: 100%;
  background: var(--onBgColor_light);
  position: relative;
}

.segmentDivider_collapse {
  display: none;
}

.segmentDivider::after {
  content: 'or';
  display: block;
  background: var(--bgColor);
  position: absolute;
  padding: 20px 0;
  top: calc(50% - 20px - 12px);
  left: calc(50% - 10.8px);
  color: var(--onBgColor);
  font-size: 24px;
}

.mediaInput {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: flex 0.5s ease-out;
  flex: 1;
}

.mediaInput:last-child {
  border-right: none;
}

.collapsed {
  flex: 0;
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: default;
  }
}

.imageContainer {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px 20px 20px;
}

.removeButton {
  background: var(--onBackground_dimmer);
  padding: 3px 5px;
  border-radius: var(--roundCorner);
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
}

.removeButton path {
  fill: var(--primaryColor);
  transition: var(--transition);
}

.removeButton:hover path {
  fill: var(--primaryColor_light);
}
