<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home | xStream</title>

  <!-- 
  Will Get replaced by URL specific meta tags via Firebase Functions
  -->
  <meta name="functions-insert-dynamic-og">
  <meta property="og:url" content="https://x-stream-45773.firebaseapp.com/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Home | xStream">
  <meta property="og:image" content="<%=require('../xstream.jpeg')%>">
  <meta property="og:description" content="The better way to tell stories!">
  <meta property="og:site_name" content="xStream">
  <meta property="og:locale" content="en_US">

  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
</head>
<body>
  <div id="root"></div>
</body>
</html>
