.stream {
  width: 100%;
  height: 100%;
  display: flex;
  height: 100%;
}

.mainSection {
  width: 100%;
  height: 100%;
}

/*OverviewPanel Section */
.overviewPanelContainer {
  transition: var(--transition);
  width: 200px;
  height: 100%;
}

.overviewPanelContainer_playback {
  width: 0;
}

/* Segment Section */
.segmentContainer {
  transition: var(--transition);
  height: calc(100% - var(--footerHeight));
}

.segmentContainerPlayback {
  width: 100%;
}

/* Edit / Preview */
.modeSwitch {
  background: var(--secondaryColor);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border-radius: var(--roundCorner);
  box-shadow:  var(--oneDp);
  transition: var(--transition);
}

.modeSwitch path {
  fill: var(--onBackground_dim);
  transition: var(--transition);
}

.modeSwitch:hover path {
  fill: var(--onBackground);
}

.modeSwitch:hover {
  box-shadow: var(--oneDp_hover);
}

.modeSwitch:disabled {
  opacity: 0.5;
}
