.stream {
  width: 100%;
  height: 100%;
  display: flex;
}

.mainSection {
  width: 100%;
  height: 100%;
}

/*OverviewPanel Section */
.overviewPanelContainer {
  transition: var(--transition);
  width: 200px;
  height: 100%;
}

.overviewPanelContainer_playback {
  width: 0;
}

/* Segment Section */
.segmentContainer {
  width: var(--segmentContainer_width);
  transition: var(--transition);
  height: calc(100% - var(--footerHeight) - 50px);
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.segmentContainer_playback {
  width: 100%;
}

/* Edit / Preview */
.modeSwitch {
  background: var(--secondaryColor);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border-radius: var(--roundCorner);
  box-shadow:  0 0 2px 0 rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.12),0 1px 3px 0 rgba(0,0,0,.2);
  transition: var(--transition);
}

.modeSwitch path {
  fill: var(--onBackground_dim);
  transition: var(--transition);
}

.modeSwitch:hover path {
  fill: var(--onBackground);
}

.modeSwitch:hover {
  box-shadow: var(--oneDp_hover);
}

.modeSwitch:disabled {
  opacity: 0.5;
}
