.stream {
  width: 100%;
  height: 100%;
  display: flex;
}

.mainSection {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Segment Section */
.segmentContainer {
  width: 100%;
  transition: var(--transition);
  height: calc(100% - var(--navigationHeight) - 80px);
  margin: 80px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.segmentContainer_playback {
  height: calc(100% - var(--navigationHeight) - 80px - var(--progressBarHeight));
}

/*Footer Section */
.footerContainer {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  width: 100%;
  height: var(--navigationHeight);
  color: var(--onPrimary);
}

.addSegmentBtn {
  border-radius: var(--roundCorner);
  border: 1px solid var(--onBgColor_medium);
  padding: 0 15px;
  height: 40px;
  transition-property: border-color;
  user-select: none;
  position: absolute;
  top: calc(50% - 18px);
  right: 20px;
}

.addSegmentBtn,
.addSegmentBtn_icon {
  font-family: inherit;
  font-size: 1em;
  color: #7f7f7f;
  transition-property: color;
  transition-duration: var(--transition-duraction);
  transition-timing-function: var(--transition-timing-function);
}

.addSegmentBtn_icon {
  margin-right: 8px;
}

.addSegmentBtn:hover,
.addSegmentBtn:hover .addSegmentBtn_icon,
.addSegmentBtn:active .addSegmentBtn_icon,
.addSegmentBtn:active {
  color: black;
}

.addSegmentBtn:hover,
.addSegmentBtn:active {
  border-color: black;
}

.addSegmentBtn.disabled,
.addSegmentBtn.disabled .addSegmentBtn_icon,
.addSegmentBtn.disabled:hover,
.addSegmentBtn.disabled:active {
  color: var(--onBgColor_light);
  border-color: var(--onBgColor_light);
}

/*Toggle Btn Container*/
.toggleBtnContainer {
  position: absolute;
  display: flex;
  width: 95px;
  height: 40px;
  top: 20px;
  right: 20px;
}

.remainingTime {
  position: absolute;
  top: 23px;
  right: 130px;
}
