.segmentOverview {
  margin: 20px;
  background-color: var(--bgColor);
  width: 100px;
  height: 75px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: var(--roundCorner);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.12),0 1px 10px 0 rgba(0,0,0,.2);
  position: relative;
  cursor: grab;
  transition-property: width, height;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  padding: 8px 15px;
}

@media (orientation: landscape) {
  .segmentOverview {
    margin-top: 0;
  }
}

@media (orientation: portrait) {
  .segmentOverview {
    margin-left: 0;
  }
}

.segmentOverview:hover,
.segmentOverview:active {
  background: white;
}

.segmentOverview:active .audioIcon {
   left: 55px;
}

.selected {
  width: 130px;
  height: 95px;
}

.selected .audioIcon {
  left: 55px;
}

.segmentOverviewText {
  text-align: center;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  user-select: none;
  overflow: hidden;
  font-size: 8px;
  color: var(--onBgColor);
  line-height: 9px;
  hyphens: auto;
}

.segmentOverview > img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  border-radius: var(--roundCorner);
  margin: 0 auto;
  border-radius: var(--roundCorner);
}

.audioIcon {
  position: absolute;
  font-size: 0.7em;
  color: var(--onBgColor_light);
  bottom: 8px;
  left: 45px;
  transition-property: left;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.removeSegmentIcon {
  position: absolute;
  top: 5px;
  left: 6px;
  font-size: 1em;
  color: var(--onBgColor_medium);
  cursor: pointer;
}

.removeSegmentIcon:hover,
.removeSegmentIcon:active {
  color: black;
}
