.segmentOverview {
  box-sizing: border-box;
  margin: 20px;
  margin-bottom: 0px;
  background-color: var(--bgColor);
  width: 100px;
  min-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--roundCorner);
  box-shadow: var(--oneDp);
  position: relative;
  cursor: pointer;
  transition-property: width, height;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  padding: 5px 20px;
}

.segmentOverview:first-child {
  margin-top: 0;
}

.selected {
  width: 130px;
  height: 95px;
}

.segmentOverviewText {
  text-align: center;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 8px;
  color: var(--onBgColor);
  line-height: 9px;
  hyphens: auto;
}

.segmentOverview > img {
  max-height: 110px;
  max-width: 110px;
  border-radius: var(--roundCorner);
}

.audioIcon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.removeSegmentIcon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.removeSegmentIcon path {
  fill: var(--onSecondary);
}
