button {
  background-color: unset;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

/* Footer */
.footer {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  width: 100%;
  height: var(--footerHeight);
  color: var(--onPrimary);
}

.footer path {
  fill: var(--onBgColor_dark);
}

/* Index */
.index {
  position: absolute;
  top: 5px;
  right: 30px;
  display: flex;
  flex-direction: row;
}

.index span {
  user-select: none;
  padding: 20px;
  min-width: 50px;
  text-align: center;
}

.index button {
  width: 25px;
  padding: 0;
}

.index button path {
  fill: var(--onPrimary_dim);
  transition: var(--transition);
}

.index button:hover path {
  fill: var(--onPrimary);
}

/*Player*/
.player {
  width: 400px;
  height: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.square, .dot {
  transform: translate(-35px, 17px);
}

.footer button:disabled path {
  fill: var(--onBgColor_light);
}

.player button:hover:enabled .playerMain_skip path {
  fill: var(--onBgColor_dark);
}

.player button:hover:enabled .playerMain_skip path,
.removeButton path {
  transition: var(--transition);
}

.playerContainer {
  position: relative;
}

.playerContainer button {
  top: 50%;
  transform: translate(0, -50%);
}

/*Remove button */
.removeButton {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 15px;
  left: 75px;
}

.removeButton:hover path {
  fill: var(--onPrimary);
}
