button {
  background-color: unset;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

/* Footer */

.footer {
  background: rgba(253, 126, 20, 1);
  position: relative;
}

.footer::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: rgba(0, 0, 0, 0.1);
}

.footer {
  grid-template-columns: 3fr 20%;
  width: 100%;
  height: 100%;
  color: rgba(242, 242, 242, 1);
}

/* Index */
.index {
  padding: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
  display: flex;
  flex-direction: row;
}

.index span {
  user-select: none;
  padding: 20px;
  min-width: 50px;
  text-align: center;
}

.index button {
  width: 25px;
  padding: 0;
}
  
.player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 200px;
  height: 100%;

  display: inline-flex;
  justify-content: space-between;
}

.footer path {
  fill: rgba(242, 242, 242, 0.8);
}

.playerMain {
  position: relative;
}

.playerMain_operator {
  position: absolute;
  font-size: 1.6em;
}

.square, .dot {
  transform: translate(-35px, 17px);
}

.footer button:hover .playerMain_operator path {
  fill: #f01d16;
}

.player button:hover .playerMain_skip path {
  fill: rgba(242, 242, 242, 1);
}

.playerMain svg {
  transition: width 0.2s ease-in;
  transition: height 0.2s ease-in;
}
