.playerMain {
  width: 70px;
  padding: 0;
}

.circleShadow {
  width: inherit;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: var(--fourDp);
}

.playerMain_operator {
  position: absolute;
  font-size: 1.6em;
}

.playerMain,
.playerMain circle:first-child,
.playerMain .playerMain_operator,
.playerMain .playerMain_operator path {
  transition: var(--transition);
}

.playerMain:hover {
  width: 72px;
}

.playerMain:hover .playerMain_operator {
  font-size: 2em;
}

.playerMain .playerMain_operator path {
  fill: var(--onPrimary);
}
