.playerMain {
  width: 40px;
  margin-left: 40px;
}

.circleShadow {
  width: inherit;
  border-radius: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.playerMain_operator {
  position: absolute;
  font-size: 2em;
}

.playerMain:active circle:first-child {
  stroke: var(--primaryColor_light);
  fill: var(--primaryColor_light);
}

.playerMain .playerMain_operator {
  color: var(--onPrimary);
}
