.playerMain {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
}

.playerMain_operator {
  position: absolute;
  font-size: 2em;
}

.playerMain:active circle:first-child {
  stroke: var(--primaryColor_light);
  fill: var(--primaryColor_light);
}

.playerMain .playerMain_operator {
  color: var(--onPrimary);
}
