.imageInput input{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.imageInput label {
  cursor: pointer;
}

.imageInput label path {
  opacity: 0.2;
}

.imageInput label:hover path {
  color: rgba(253, 126, 20, 1);
  opacity: 1;
}

.imageContainer {
  position: relative;
}

.removeButton {
  position: absolute;
  cursor: pointer;
  top: -23px;
  right: -27px;
}

.removeButton path {
  fill: rgba(253, 126, 20, 0.4);
  transition: fill 0.4s ease;
}

.removeButton:hover path {
  fill: rgba(253, 126, 20, 1);
}
