.imageInput input{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.imageInput label {
  cursor: pointer;
}

.imageInput label path {
  opacity: 0.2;
}

.imageInput label:hover path {
  color: var(--primaryColor);
  opacity: 1;
}
