.closedCaption {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5em;
  padding: 5px;
  text-align: center;
}