.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.authorInfo {
  position: absolute;
  display: flex;
  width: 100%;
  height: 20%;
  padding: 1%;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

.authorName {
  margin-left: 8px;
  margin-top: 15px;
  font-size: 0.8em;
  font-weight: 700;
  color: white;
  filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.3));
}

.avatarContainer {
  width: calc(var(--avatarSize_tiny) + 6px);
  height: calc(var(--avatarSize_tiny) + 6px);
  position: relative;
}

.avatar {
  position: absolute;
  top: 3px;
  left: 3px;
}

.playbackPlayer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fade 0.8s cubic-bezier(.4,0,.2,1);
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade {
  0% {
    opacity: 1;
    font-size: 1em;
    width: 30px;
    height: 30px;
  }
  100% {
    opacity: 0;
    display: none;
    font-size: 3em;
    width: 90px;
    height: 90px;
  }
}

.navBtn {
  display: none;
}

.container:hover > .navBtn {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  z-index: 1;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 50%;
  z-index: 2;
}

.container:hover > .navBtn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.previousBtn {
  left: 2%;
}

.nextBtn {
  right: 2%;
}

@media (max-width: 700px) {
  .authorName {
    margin-left: 4px;
    margin-top: 10px;
    font-size: 0.7em;
    font-weight: 700;
  }

  .avatarContainer {
    width: calc(var(--avatarSize_tiny_smallscreen) + 6px);
    height: calc(var(--avatarSize_tiny_smallscreen) + 6px);
    position: relative;
  }
}
