.streamList {
  width: 100%;
  max-width: 1278px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 20px auto;
  position: relative;
}
.addStreamLink{
  position: fixed;
  bottom: 100px;
  right: 100px;
  padding: 15px 25px;
  border-radius: 30px;
  text-decoration: none;
  background-color: var(--primaryColor);
  color: var(--onPrimary);
  box-shadow: var(--fourDp);
}
.addStreamLink span {
  margin-left: 8px;
  font-weight: 700;
  font-size: 1.1em;
}
