.composeStream {
  width: 100%;
  height: calc(100% - var(--composeBarHeight));
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.composeStream > * {
  max-width: var(--maxWidth);
}
