.composeSegment {
  width: 100%;
  display: flex;
  margin-top: 20px;
  border-right: 3px solid white;
  border-top-right-radius: var(--roundCorner);
  border-bottom-right-radius: var(--roundCorner);
}

.selectedSegment {
  border-right: 3px solid var(--primaryColor);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.controls {
  width: 40px;
}

.dragHandle {
  cursor: row-resize;
}

.content {
  border-bottom-left-radius: var(--roundCorner);
  width: calc(100% - 40px);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background: white;
}

.script {
  padding: 30px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.scriptInput {
  width: calc(100% - 50px);
  resize: none;
  background: transparent;
  border: none;
  font-size: 1em;
  overflow: hidden;
  outline: none;
}

.audioPlayer {
  height: 30px;
  outline: none;
}

.removeRecordingBtn {
  height: 30px;
}

.visual {
  padding: 30px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arBox {
  border: 1px solid var(--onSecondary__active);
  width: 50%;
  margin: auto;

  transition-property: width;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.visualMode .arBox {
  width: 100%;
}

@media (orientation: portrait) {
  .visualMode .arBox {
    width: 100%;
  }
}

.visualMode > .script {
  width: 100%;
  order: 2;
}

.visualMode > .visual {
  width: 100%;
  order: 1;
}

.visualContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visualActions {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

@media (orientation: portrait) {
  .visual {
    width: 100%;
    order: 1;
  }

  .script {
    width: 100%;
    order: 2;
  }
}

.visualOptions {
  width: 100%;
  display: flex;
  justify-content: center;
}

.visualOptions > * {
  margin-left: 20px;
}

.addText {
  font-size: 2em;
  font-weight: bold;
  font-family: "Times New Roman";
  color: var(--onBgColor);
  padding: 0;
  line-height: 1em;
}

.addText:hover {
  color: black;
}

/*Remove Segment Btn*/
.removeSegmentBtn {
  width: 40px;
  height: 40px;
  background-color: var(--onBgColor_light);
  z-index: 1;
  transition: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.removeSegmentBtn:hover .removeSegmentBtn_icon {
  color: var(--onPrimary);
}

.removeSegmentBtn_icon {
  font-size: 1.3em;
  color: var(--onBgColor_dark);
}

.addSegmentBtn {
  width: 25px;
  height: 25px;
  background-color: var(--onBgColor_light);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  z-index: 1;
}

.addSegmentBtn_icon {
  color: var(--onBgColor_dark);
}

@media (hover: hover) {
  .addSegmentBtn {
    display: none;
  }

  .content:hover > .addSegmentBtn {
    display: block;
  }
}

@media (hover: none) {
  .addSegmentBtn {
    display: none;
  }

  .composeSegment.selectedSegment .addSegmentBtn {
    display: block;
  }
}
