.composeSegment {
  width: 100%;
  min-height: 80px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
  border-bottom: 1px solid var(--onSecondary__active);
}

.selectedSegment {
  background: white;
}

.controls {
  width: 40px;
}

.content {
  width: calc(100% - 40px);
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.script {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  border-right: 1px dashed;
}

.scriptInput {
  width: calc(100% - 50px);
  resize: none;
  background: transparent;
  border: none;
  font-size: 1em;
  padding: 15px 10px;
  overflow: hidden;
  outline: none;
}

.audioPlayer {
  margin: 10px;
  height: 30px;
  outline: none;
}

.visual {
  width: 50%;
}

@media (orientation: portrait) {
  .visual {
    width: 100%;
    order: 1;
  }

  .script {
    width: 100%;
    order: 2;
    border-right: none;
  }
}

/*Remove Segment Btn*/
.removeSegmentBtn {
  width: 40px;
  height: 40px;
  background-color: var(--onBgColor_light);
  border-bottom-right-radius: var(--roundCorner);
  border-top-left-radius: 2px;
  z-index: 1;
  transition: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.removeSegmentBtn:hover .removeSegmentBtn_icon {
  color: var(--onPrimary);
}

.removeSegmentBtn_icon {
  font-size: 1.3em;
  color: var(--onBgColor_dark);
}

.addSegmentBtn {
  width: 25px;
  height: 25px;
  background-color: var(--onBgColor_light);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  z-index: 1;
}

.addSegmentBtn_icon {
  color: var(--onBgColor_dark);
}

@media (hover: hover) {
  .addSegmentBtn {
    display: none;
  }

  .content:hover > .addSegmentBtn {
    display: block;
  }
}

@media (hover: none) {
  .addSegmentBtn {
    display: none;
  }

  .composeSegment.selectedSegment .addSegmentBtn {
    display: block;
  }
}
