/*Stream Nav*/
.streamNav {
  width: 300px;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.playerContainer {
  position: relative;
  width: 150px;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.playerContainer_entrance{
  border: 1.5px solid #bfbfbf;
  border-radius: 80px;
  animation: enterance 0.3s cubic-bezier(.4,0,.2,1);
}

@keyframes enterance {
  0% {
    width: 100px;
  }
  100% {
    width: 150px;
  }
}

/*Audio Input*/
.square, .dot {
  transform: translate(-35px, 17px);
}

button:disabled .skipIcon{
  color: var(--onBgColor_light);
}

.skipIcon,
.removeButton {
  transition: var(--transition);
}

/*Remove button */
.removeButton {
  cursor: pointer;
}

.removeButton_icon  {
  font-size: 2em;
}

button:enabled:hover .skipIcon,
.removeButton_icon:hover {
  color: var(--onPrimary);
}

.skipIcon,
.removeButton_icon  {
  color: var(--onBgColor_dark);
}

/* Index */
.index {
  position: absolute;
  top: calc(50% - 8px);
  left: 30px;
}

.index span {
  user-select: none;
  font-size: 1em;
  color: var(--onBgColor);
}
