.streamNav {
  width: 220px;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.playerContainer {
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.playerContainer_entrance{
  border: 1.5px solid #bfbfbf;
  width: 108px;
  border-radius: 80px;
  animation: enterance 0.3s cubic-bezier(.4,0,.2,1);
}

@keyframes enterance {
  0% {
    width: 72px;
    border: 1.5px solid rgba(191, 191, 191, 0);
  }
  100% {
    width: 108px;
    border: 1.5px solid rgba(191, 191, 191, 1);
  }
}

.playerContainer_departure{
  border-radius: 80px;
  width: 50px;
  animation: departure 0.5s cubic-bezier(.4,0,.2,1);
}

@keyframes departure {
  0% {
    width: 108px;
    border: 1.5px solid rgba(191, 191, 191, 1);
  }
  100% {
    width: 50px;
    height: 50px;
    border: 1.5px solid rgba(191, 191, 191, 0);
  }
}

/*Audio Input*/
.square, .dot {
  transform: translate(-35px, 17px);
}

button:disabled .skipIcon{
  color: var(--onBgColor_light);
}

.skipIcon,
.removeButton {
  transition: var(--transition);
}

/*Remove button */
.removeButton {
  cursor: pointer;
}

.removeButton_icon  {
  font-size: 2em;
}

button:enabled:hover .skipIcon,
.removeButton_icon:hover {
  color: var(--onPrimary);
}

.skipIcon,
.removeButton_icon  {
  color: var(--onBgColor_dark);
}
