/*Stream Nav*/
.streamNav {
  width: 400px;
  height: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.streamNav button {
  background-color: unset;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.playerContainer {
  position: relative;
}

.playerContainer button {
  top: 50%;
  transform: translate(0, -50%);
}

/*Player*/
.square, .dot {
  transform: translate(-35px, 17px);
}

button:disabled .skipIcon{
  color: var(--onBgColor_light);
}

.skipIcon,
.removeButton {
  transition: var(--transition);
}

/*Remove button */
.removeButton {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 15px;
  left: 75px;
}

button:enabled:hover .skipIcon,
.removeButton_icon:hover {
  color: var(--onPrimary);
}

.skipIcon,
.removeButton_icon  {
  color: var(--onBgColor_dark);
}

/* Index */
.index {
  position: absolute;
  top: calc(50% - 8px);
  left: 30px;
}

.index span {
  user-select: none;
  font-size: 1em;
  color: var(--onBgColor);
}
