.cover {
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadein 0.8s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.titleConainer {
  width: 100%;
  height: 100px;
  border-radius: var(--roundCorner);
  position: relative;
  margin: 20px;
}

.titleConainer > *:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.FAB {
  background: var(--primaryColor);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  box-shadow: var(--FAB);
  transition: background var(--FAB_transition);
}

.FAB:focus,
.FAB:hover {
  box-shadow: var(--FAB_hover);
}

.FAB:active {
  box-shadow: var(--twoDp);
  background: var(--primaryColor_light);
}

.FAB_icon {
  color: black;
  transform: translate(3.1px, 0.5px);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: default;
  }
}
