.cover {
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadein 0.8s;
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: default;
  }
}