.cover {
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadein 0.8s;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.titleConainer {
  width: 100%;
  height: 100px;
  background: rgba(255,255,255,0.6);
  border-radius: var(--roundCorner);
  position: relative;
  margin: 20px;
}

.titleConainer > *:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.FAB {
  background: var(--primaryColor);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  box-shadow: var(--FAB);
  transition: background var(--FAB_transition);
}

.FAB:focus,
.FAB:hover {
  box-shadow: var(--FAB_hover);
}

.FAB:active {
  box-shadow: var(--twoDp);
  background: var(--primaryColor_light);
}

.addRemoveImage {
  position: absolute;
  top: 20px;
  left: 20px;
}

/*from here: copied from stream.css modeSwitch with modifications
TODO: extract to a button component (without position related rules)*/

.removeImage {
  background: rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  border-radius: var(--roundCorner);
}

.removeImage_icon {
  color: var(--primaryColor);
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.removeImage:active .removeImage_icon {
  color: var(--primaryColor_light);
}

/*Until here: copied from stream.css modeSwitch*/

.FAB_iconPlay {
  transform: translate(3.1px, 0.5px);;
}

.FAB_icon {
  color: black;
}

@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: default;
  }
}
