.header{
  background-color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(242, 242, 242);
}

.header_nav{
  width: 100%;
  max-width: 1278px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navItem {
  margin-left: 10px;
  margin-right: 10px;
}

.navItem:first-child {
  margin-left: 10px;
}

.navItem:last-child {
  margin-right: 10px;
}

.homeBtn {
  font-size: 1.8em;
  color: var(--primaryColor);
  margin-right: 10px;
}

.createBtn {
  display: flex;
  align-items: center;
  background-color: var(--primaryColor);
  color: white;
  border: 1.5px solid var(--primaryColor);
  margin-right: auto;
  padding: 5px 7px 4px 7px;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border-radius: var(--roundCorner);
  transition-property: background-color, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.createBtn span{
  margin-left: 5px;
}
.createBtn svg{
  font-size: 0.8em;
}
.createBtn:hover,
.createBtn:active {
  background-color: transparent;
  color: var(--primaryColor);
}

.userInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
